body {
    background-color: #182f38;
}
.col-md-8 {
    padding: 0px;
}
.col-md-4 {
    padding: 0px;
}

code {
    color: black;
}

.fit-width {
    position: absolute;
    width: 100%;
}

.non-selectable {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.c1-bg {
    background: #e4e7eb;
}

.c2-bg {
    background: #819cab;
}

.c3-bg {
    background: #8299b4;
}

.c4-bg {
    background: #3f6a81;
}

.c5-bg {
    background: #182f38;
}

.center-aligner {
    text-align: center;
}

/* Style the tab */
.tab {
    
    background-color: #819cab;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    font-weight: normal;
    color: #e4e7eb;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 0px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #93aebd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #e4e7eb;
    color: #819cab;
    font-weight: bold;
  }
  
  /* Style the tab content */
  .tabcontent {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 400px;
    width:100%;
    background-color: #e4e7eb;
    display: none;
    padding-top: 10px;
    border-top: none;
  }

  .slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 70%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #819cab;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #3f6a81;
    cursor: pointer;
  }

  .layercontainer
  {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

.layercontainer::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.layercontainer::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.layercontainer::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #3f6a81;
}

.tabcontent::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.tabcontent::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.tabcontent::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #3f6a81;
}
.layercontrol{
  margin: 2px;
  width: 80%;
  height: 80%;
}

.layer{
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}


